:root {
  /* Variables */
  --main-color: #AE7C78;
  --sub-color: #D89999;
  --main-bg-color: white;
  --sub-bg-color: #F7FAFC;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', Arial, sans-serif;

  background-color: var(--main-bg-color);
  color: var(--main-color);
}

/* Default Styles ? */

.text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.btn {
  font-size: 1rem;
  line-height: 1.25;
  color: white;
  background-color: var(--sub-color);
  padding: 30px 70px;
  border-radius: 40px;
  text-decoration: none;
  display: inline-block;
}

.link {
  color: inherit;
  text-decoration: none;
}

.logo {
  width: 100px;
  height: 32px;
}

.img {
  max-width: 100%;
  height: auto;
}

/* Header Section */

.header {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.page__header {
  margin-top: 26px;
}

.header__nav {
  max-width: 1200px;
  margin: auto;
}

.nav {
  
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__item{
  display: block;
  align-self: center;
  margin: 1rem 0;
}

/* Hero Section */

.hero {
  max-width: 1200px;
  margin: auto;
  margin-top: 4.75rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero__col {
  width: 33%;
}

.hero__title {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 1.3;
}

.hero__description {
  margin: 0;
  margin-bottom: 4rem;
}

.hero__img {
  display: block;
  border-radius: 10px;
}

.hero__img--down {
  align-self: flex-end;
  margin-top: 3.75rem;
}

/* Benefits Section */

.benefits {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.25rem;
}

.benefits__item {
  width: 33%;
  display: flex;
}

.benefits__img {
  height: 52px;
  display: inline-block;
  margin-right: 1.25rem;
}

.benefits__text {
  display: inline-block;
}

.benefits__heading {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.benefits__description {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin: 0;
  max-width: 18rem;
}

/* Popular Section */

.popular {
  max-width: 794px;
  margin: auto;
  margin-top: 5rem;
}

.popular__heading {
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: .02em;
  margin: 0;
  margin-bottom: 2.75rem;
  text-align: center;
}

.bouquet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.25rem;
}

.bouquet__heading {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.875;
  margin: 0;
  margin-top: .5rem;
  margin-bottom: .75rem;
}

.bouquet__text {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.bouquet__dimensions {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.bouquet__price {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.btn--buy {
  border: none;
  padding-left: 105px;
  padding-right: 105px;
}