:root {
  /* Variables */
  --main-color: #AE7C78;
  --main-color-alpha : rgba(174, 124, 120, 0.6);
  --sub-color: #D89999;
  --main-bg-color: white;
  --sub-bg-color: #F7FAFC;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', Arial, sans-serif;

  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.page__section,
.page__header {
  margin-bottom: 5rem;
}

.page__section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Default Styles ? */

.text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.btn {
  font-size: 1rem;
  line-height: 1.25;
  color: white;
  background-color: var(--sub-color);
  padding: 30px 70px;
  border-radius: 40px;
  text-decoration: none;
  display: inline-block;
  transition: all .3s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: var(--main-color);
}

.link {
  color: inherit;
  text-decoration: none;
}

.logo {
  width: 100px;
  height: 32px;
}

.img {
  max-width: 100%;
  height: auto;
}

/* Header Section */

.header {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.page__header {
  margin-top: 26px;
}

.header__nav {
  max-width: 1200px;
  margin: auto;
}

.nav {
  
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__item{
  display: block;
  align-self: center;
  margin: 1rem 0;
}

/* Hero Section */

.hero {
  margin-bottom: 2.5rem; /* fix bottom */
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero__col {
  width: 33%;
}

.hero__title {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 1.3;
}

.hero__description {
  margin: 0;
  margin-bottom: 4rem;
}

.hero__img {
  display: block;
  border-radius: 10px;
}

.hero__img--down {
  align-self: flex-end;
  margin-top: 3.75rem;
}

/* Benefits Section */

.benefits {
  gap: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: end;
  margin-bottom: 5.25rem; /* Fix bottom for PixelPerfect */
}

.benefits__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
}

.benefits__img {
  height: 52px;
  display: inline-block;
  margin-right: 1.25rem;
}

.benefits__text {
  display: inline-block;
}

.benefits__heading {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.benefits__description {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin: 0;
  max-width: 18rem;
}

/* Popular Section-Slider */

.popular {
  max-width: 794px;
}

.popular__heading {
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: .02em;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  
}

.slider__controls {
  height: 3.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.control {
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 55px;
  height: 1rem;
  cursor: pointer;
}

.control:hover {
  background-size: 105%;
}

.control__left {
  background-image: url('./images/arrow-left.svg');
}

.control__right {
  background-image: url('./images/arrow-right.svg');
}

.bouquet {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.25rem;
}

.bouquet__heading {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.875;
  margin: 0;
  margin-top: 1.25rem;
  margin-bottom: .75rem;
}

.bouquet__text {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.bouquet__dimensions {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.bouquet__price {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.btn--buy {
  border: none;
  padding-left: 105px;
  padding-right: 105px;
  cursor: pointer;
}

/* Catalog Section */

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.25rem;

  margin-top: -1.75rem; /* Fix for now*/
}

.catalog__category {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}

.category__title {
  font-family: Playfair Display;
  font-size: 2.25rem;
  line-height: 3rem;
  color: white;
  margin-top: 0;
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;
}

.category__subtext {
  color: white;
  font-size: 1rem;
  margin: 0;
}

.category {
  height: 442px;
  width: 387px;
  background-color: var(--main-color-alpha);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition-property: background-size, background-color;
  transition: .3s ease-in-out;
}

.category:hover,
.category:focus {
  background-size: 125%;
  background-color: var(--main-color);
}

.category--wedding {
  background-image: linear-gradient(0deg, var(--main-color-alpha), var(--main-color-alpha)), url('./images/photo-4.jpg');
}

.category--peonies {
  background-image: linear-gradient(0deg, var(--main-color-alpha), var(--main-color-alpha)), url('./images/photo-5.jpg');
}

.category--choice {
  background-image: linear-gradient(0deg, var(--main-color-alpha), var(--main-color-alpha)), url('./images/photo-6.jpg');
}

/* Sale Section */

